apiVersion: v1
kind: Namespace
metadata:
  name: greenroad

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: greenroad
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.30.3
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
            - name: prometheus-storage
              mountPath: /prometheus
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
        - name: prometheus-storage
          emptyDir: {}

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: greenroad
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['public_ip:30001']
      - job_name: 'itay'
        metrics_path: /
        static_configs:
          - targets: ['public_ip:31234']
      - job_name: 'node'
        static_configs:
          - targets: ['public_ip:30003']
      - job_name: 'blackbox'
        metrics_path: /probe
        params:
          module: [http_2xx]
        static_configs:
          - targets:
            - http://prometheus.io
            - https://prometheus.io
            - http://public_ip:30004
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: 127.0.0.1:9115

---

apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: greenroad
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30001
  selector:
    app: prometheus

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-exporter
  namespace: greenroad
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      containers:
        - name: node-exporter
          image: prom/node-exporter:v1.2.2
          ports:
            - containerPort: 9100

---

apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: greenroad
spec:
  type: NodePort
  ports:
    - name: http
      port: 9100
      targetPort: 9100
      nodePort: 30003
  selector:
    app: node-exporter

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-blackbox-exporter
  namespace: greenroad
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-blackbox-exporter
  template:
    metadata:
      labels:
        app: prometheus-blackbox-exporter
    spec:
      containers:
        - name: prometheus-blackbox-exporter
          image: prom/blackbox-exporter:v0.19.0
          ports:
            - containerPort: 9115

---

apiVersion: v1
kind: Service
metadata:
  name: prometheus-blackbox-exporter
  namespace: greenroad
spec:
  type: NodePort
  ports:
    - port: 9115
      targetPort: 9115
      nodePort: 30004
  selector:
    app: prometheus-blackbox-exporter

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: greenroad
data:
  web-status-dashboard.json: |-
    {{- if .Files.Exists "dashboard.json" }}
    {{- .Files.Get "dashboard.json" | indent 4 }}
    {{- end }}
  grafana.ini: |
    [server]
    root_url = %(protocol)s://%(domain)s:%(http_port)s/
    [datasources]
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        basicAuth: false

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: greenroad
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:8.3.0
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: grafana-storage
              mountPath: /var/lib/grafana
            - name: grafana-dashboards
              mountPath: /etc/grafana/dashboards
      volumes:
        - name: grafana-storage
          emptyDir: {}
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards

---

apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: greenroad
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30002
  selector:
    app: grafana
